<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>File Sharing Site</h1>
    <p>Upload and download files</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload File</h3>
      
      <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" name="file" id="file1" onchange="readSingleFile(this.files)">
                <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-block ">
        </form>        
      <script>
        function readSingleFile(e) {
          const name = e[0].name;
          document.getElementById("file-label").textContent = name;
        }
      </script>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Files</h3>      
    </div>
    <div class="panel-body">
      {{#each files}}
      <li><a href="/getfile?i={{this}}">{{this}}</a></li>
      {{/each}}
    </div>
  </div>



{{else}}
  <div class="jumbotron">
    <h1>The Hacking School - Exercise</h1>
    <p>NodeJS / MongoDB/ Express File Sharing Site</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}